@charset "utf-8";

/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, "微軟正黑體", "Microsoft JhengHei", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "標楷體", DFKai-SB, sans-serif;
    font-size: 100%;
    background-color: #C0E3FA;
    background-image: url(../resource/bg.png);
    background-repeat: repeat;
}

.wrapper {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    font-size: 24px;
}

.wrapper .head {
    background-image: url(../resource/head.png);
    height: 300px;
    width: 1280px;
    float: left;
    position: relative;
}

.wrapper .head .home {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 30px;
    top: 30px;
    display: block;
}

.wrapper .head .school {
    height: 40px;
    width: 350px;
    position: absolute;
    left: 920px;
    text-align: center;
    display: block;
    font-size: 24px;
    top: 18px;
}

.wrapper .head .top-gif {
    display: block;
    position: absolute;
    left: 840px;
    top: 60px;
}

.wrapper .head .button {
    display: block;
    height: 69px;
    width: 1280px;
    position: absolute;
    top: 226px;
}

.wrapper .head .button ul {
    list-style-type: none;
}

.wrapper .head .button ul .class1 a {
    background-image: url(../image/classbtn1.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 24px;
}

.wrapper .head .button ul .class2 a {
    background-image: url(../image/classbtn2.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class3 a {
    background-image: url(../image/classbtn3.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class4 a {
    background-image: url(../image/classbtn4.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class5 a {
    background-image: url(../image/classbtn5.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class6 a {
    background-image: url(../image/classbtn6.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class7 a {
    background-image: url(../image/classbtn7.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class8 a {
    background-image: url(../image/classbtn8.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class1a a {
    background-image: url(../image/classbtn1_a.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 24px;
}

.wrapper .head .button ul .class2a a {
    background-image: url(../image/classbtn2_a.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class3a a {
    background-image: url(../image/classbtn3_a.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class4a a {
    background-image: url(../image/classbtn4_a.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class5a a {
    background-image: url(../image/classbtn5_a.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class6a a {
    background-image: url(../image/classbtn6_a.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class7a a {
    background-image: url(../image/classbtn7_a.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class8a a {
    background-image: url(../image/classbtn8_a.png);
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 145px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button ul .class1 a:hover {
    background-image: url(../image/classbtn1_a.png);
}

.wrapper .head .button ul .class2 a:hover {
    background-image: url(../image/classbtn2_a.png);
}

.wrapper .head .button ul .class3 a:hover {
    background-image: url(../image/classbtn3_a.png);
}

.wrapper .head .button ul .class4 a:hover {
    background-image: url(../image/classbtn4_a.png);
}

.wrapper .head .button ul .class5 a:hover {
    background-image: url(../image/classbtn5_a.png);
}

.wrapper .head .button ul .class6 a:hover {
    background-image: url(../image/classbtn6_a.png);
}

.wrapper .head .button ul .class7 a:hover {
    background-image: url(../image/classbtn7_a.png);
}

.wrapper .head .button ul .class8 a:hover {
    background-image: url(../image/classbtn8_a.png);
}



/*額外課程--在上面--開始*/

.wrapper .head .button2 {
    display: block;
    height: 100px;
    width: 1280px;
    position: absolute;
    top: 176px;
}

.wrapper .head .button2 ul {
    list-style-type: none;
}

.wrapper .head .button2 ul .class1 a {
    background-image: url(../image/plus1.png);
    text-indent: -9999px;
    display: block;
    height: 100px;
    width: 172px;
    float: left;
    margin-left: 840px;
}

.wrapper .head .button2 ul .class2 a {
    background-image: url(../image/plus2.png);
    text-indent: -9999px;
    display: block;
    height: 100px;
    width: 172px;
    float: left;
    margin-left: 10px;
}

.wrapper .head .button2 ul .class1a a {
    background-image: url(../image/plus1_a.png);
    text-indent: -9999px;
    display: block;
    height: 100px;
    width: 172px;
    float: left;
    margin-left: 840px;
}

.wrapper .head .button2 ul .class2a a {
    background-image: url(../image/plus2_a.png);
    text-indent: -9999px;
    display: block;
    height: 100px;
    width: 172px;
    float: left;
    margin-left: 10px;
}
.wrapper .head .button2 ul .class1 a:hover {
    background-image: url(../image/plus1_a.png);
}

.wrapper .head .button2 ul .class2 a:hover {
    background-image: url(../image/plus2_a.png);
}

/*額外課程--在上面--結束*/

/*額外課程--在原第七課位置--開始*/
.wrapper .head .button3 {
    display: block;
    height: 69px;
    width: 226px;
    position: absolute;
    top: 226px;
    margin-left: 953px;
}

.wrapper .head .button3 ul {
    list-style-type: none;
}

.wrapper .head .button3 ul .class1 a {
    background-image: url(../image/plus3_1.png);
    text-indent: -9999px;
    display: block;
    height: 69px;
    width: 226px;
    float: left;
}

.wrapper .head .button3 ul .class1a a {
    background-image: url(../image/plus3_1_a.png);
    text-indent: -9999px;
    display: block;
    height: 69px;
    width: 226px;
    float: left;
}

.wrapper .head .button3 ul .class1 a:hover {
    background-image: url(../image/plus3_1_a.png);
}

/*額外課程--在原第七課位置--結束*/

.wrapper .head .content-top {
    background-image: url(../image/cotenthead.png);
    height: 29px;
    width: 1280px;
    position: relative;
    top: 271px;
}

.wrapper .content {
    width: 1280px;
    background-color: #EAF4EC;
    display: block;
    float: left;
}

.wrapper .content .content-banner {
    display: block;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper .content .content-banner .banner-left {
    display: block;
    float: left;
    height: 260px;
    width: 320px;
    position: relative;
    background-color: #FFF;
}

.wrapper .content .content-banner .banner-left img:first-child {
    height: 240px;
    width: 300px;
    left: 10px;
    top: 10px;
    position: absolute;
}

.banner-sample-img{
    /*一張播放圖，位於展示圖片之上層、縮小居中*/
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 35%;
    max-width: 35%;
    transform: translate(-50%, -50%);    
}

.wrapper .content .content-banner .banner-right {
    float: left;
    width: 860px;
    margin-left: 20px;
}

.wrapper .content .content-banner .banner-right .banner-right-top .banner-right-top-bgleft {
    background-image: url(../image/leftbannertitle.png);
    display: block;
    float: left;
    height: 60px;
    width: 66px;
}

.wrapper .content .content-banner .banner-right .banner-right-top .banner-right-top-bgmid {
    background-image: url(../image/midbannertitle.png);
    background-repeat: repeat;
    float: left;
    height: 60px;
    width: 761px;
    text-align: center;
    color: #3399FF;
    font-size: 36px;
    padding-top: 10px;
}

.wrapper .content .content-banner .banner-right .banner-right-top .banner-right-top-bgright {
    background-image: url(../image/rightbannertitle.png);
    float: right;
    height: 60px;
    width: 33px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom {
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul {
    list-style-type: none;
    display: inline-block;
    width: 800px;
    float: right;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul li {
    float: left;
    font-size: 20px;
    margin-left: 5px;
    /*調整教學資源icon之間間距*/
    margin-right: 5px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn0 {
    background-image: url(../image/teach.png);
    height: 132px;
    width: 40px;
    display: block;
    float: left;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn1 a {
    background-image: url(../image/btn1_ebook.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 150px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn1 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn2 a {
    background-image: url(../image/btn2_einterface.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 150px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn2 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn3 a {
    background-image: url(../image/btn3_emouse.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 150px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn3 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn4 a {
    background-image: url(../image/btn4_etype.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 150px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn4 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn5 a {
    background-image: url(../image/btn5_erich.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 150px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn5 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn6 a {
    background-image: url(../image/btn6_etest.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 150px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn6 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn7 a {
    background-image: url(../image/btn7_egame.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 150px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn7 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn8 a {
    background-image: url(../image/btn8_ebox.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 150px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn8 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .autobutton {
    text-align: right;
    float: left;
    height: 45px;
    width: 100%;
    margin-top: 10px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn9 a {
    background-image: url(../image/btn9_edownload.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn9 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content table {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 20px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn10 a {
    background-image: url(../image/btn10_egift.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn10 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn11 a {
    background-image: url(../image/btn11_estudent.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn11 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn12 a {
    background-image: url(../image/btn12_eimage.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn12 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn13 a {
    background-image: url(../image/btn13_movie.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn13 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn14 a {
    background-image: url(../image/btn14_example.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn14 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn15 a {
    background-image: url(../image/btn15_link.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn15 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn16 a {
    background-image: url(../image/btn16_play.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn16 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn17 a {
    background-image: url(../image/btn17_pics.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn17 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn18 a {
    background-image: url(../image/btn18_exe.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn18 a p {
    text-align: center;
    margin-top: 100px;
}


.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn19 a {
    background-image: url(../image/btn19_mail.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn19 a p {
    text-align: center;
    margin-top: 100px;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn20 a {
    background-image: url(../image/btn20_video_link.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    height: 130px;
    width: 120px;
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
}

.wrapper .content .content-banner .banner-right .banner-right-bottom ul .btn20 a p {
    text-align: center;
    margin-top: 100px;
}


.wrapper .content .content-table {
    float: left;
    width: 100%;
    line-height: 1.5em;
}

.wrapper .content .content-table table tr td:nth-child(2) {
    text-align: left;
    text-indent: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper .content .content-table table tr td:nth-last-child(3) {
    /* text-align: left; */
    /* [disabled]text-indent: 1em; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper .content .content-table table tr td:nth-child(2) a:hover {
    background-color: yellow;
}

.wrapper .content .content-table table tr:first-child td {
    text-align: center;
}
.content-table > table > tbody > tr > td:first-child {
	font-weight: bold;
}
.wrapper .content .content-table table tr td .ico1 {
    background-image: url(../image/ico1_link.png);
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.wrapper .content .content-table table tr td .ico2 {
    background-image: url(../image/ico2_file.png);
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.wrapper .content .content-table table tr td .ico3 {
    background-image: url(../image/ico3_play.png);
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.wrapper .content .content-table table tr td .ico4 {
    background-image: url(../image/ico4_teaching.png);
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.wrapper .content .content-table table tr th {
    border: 1px solid #CCC;
}

.wrapper .content .content-table table tr td {
    border: 1px solid #CCC;
}

.wrapper .content .content-table table tr td a {
    color: #000;
}

.wrapper .content .content-footer {
    width: 100%;
    text-align: center;
    display: block;
    height: 40px;
    float: left;
    margin-top: 10px;
}

.wrapper .content .content-footer p {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.wrapper .content .content-footer p a img {
    margin-right: 5px;
}

.wrapper .footer {
    background-image: url(../image/cotentfoot.png);
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    width: 1280px;
    float: left;
}

.wrapper .content .play {
    transition: all 0.1s;
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

.sample {
    /*展示圖片的父元素*/
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: 0em;
    line-height: 0em;
    margin-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.sample-img {
    /*一張播放圖，位於展示圖片之上層、縮小居中*/
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 35%;
    max-width: 35%;
    transform: translate(-50%, -50%);
}

#expired-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

#expired-div {
    font-size: 50px;
    color: #FFF;
    vertical-align: middle;
    display: table-cell;
}

#expired-div a {
    color: #ffd891;
}

#expired-close {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background: #FFF;
    color: #F00;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    user-select: none;
}

#expired-close:hover {
    background: #DDD;
    color: #000;
}

.text-red-small {
    color: red;
    font-size: 16px;
}

.disable {
    pointer-events: none;
    cursor: default;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
} 
