@charset "utf-8";

/* CSS Document */
.back_button {
  position: relative;
  left:-318px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 95px 0 0 95px;
  border-radius: 95px 0 0 95px;
  font-size: 18px;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f86810;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.content-banner2 {
    display: block;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.content-banner2 .banner-right {
    float: left;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 15px;
}

.content a {
    color: #000;
}

.content a:visited {
    color: #000;
}

.content a:hover {
    color: #000;
}

.content a:active {
    color: #000;
}

.content-banner2 .banner-right a {
    color: #3399FF;
    text-decoration: none;
}

.content-banner2 .banner-right a:visited {
    color: #3399FF;
}

.content-banner2 .banner-right a:hover {
    color: #3399FF;
}

.content-banner2 .banner-right a:active {
    color: #3399FF;
}

.content-banner2 .banner-right .banner-right-top .banner-right-top-bgleft {
    background-image: url(../image/leftbannertitle.png);
    display: block;
    float: left;
    height: 60px;
    width: 66px;
}

.content-banner2 .banner-right .banner-right-top .banner-right-top-bgmid {
    background-image: url(../image/midbannertitle.png);
    background-repeat: repeat;
    float: left;
    height: 60px;
    width: 1100px;
    text-align: center;
    color: #3399FF;
    font-size: 36px;
    padding-top: 10px;
}

.content-banner2 .banner-right .banner-right-top .banner-right-top-bgright {
    background-image: url(../image/rightbannertitle.png);
    float: right;
    height: 60px;
    width: 33px;
}

.content-banner2 .banner-right .banner-right-bottom {
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.my-row {
    display: flex;
    display: -webkit-flex;
    /* Safari */
    width: 100%;
    border-spacing: 5px;
    justify-content: center;
}

.all-center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-center div {
    padding: 5px;
}

/*只有三欄的表格，且第一欄有合併列 -start
　課程單元、課程資源、頁次
*/

.wrapper .content .content-table2 {
    float: left;
    width: 100%;
    line-height: 1.5em;
}


.table2 tr td:nth-last-child(2) {
	text-align: left;
    text-indent: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table2 tr td:nth-last-child(1) {
    text-align: center;
    /* [disabled]text-indent: 1em; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-table2  a:hover {
    background-color: yellow;
}

.content-table2 table tr:first-child td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-table2 p{
	text-align: left;
}
.content-table2 table tr td .ico1 {
    background-image: url(../image/ico1_link.png);
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.content-table2 table tr td .ico2 {
    background-image: url(../image/ico2_file.png);
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.content-table2 table tr td .ico3 {
    background-image: url(../image/ico3_play.png);
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.content-table2 table tr td .ico4 {
    background-image: url(../image/ico4_teaching.png);
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.content-table2 table tr th {
    border: 1px solid #CCC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-table2 table tr td {
    border: 1px solid #CCC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-table2 table tr td a {
    color: #000;
	text-decoration: underline;
}

.add-indent {
	text-indent: 1em;
}
/*三欄表格 -end*/
