@charset "utf-8";
/* CSS Document */

#canvas {
	background-color: #000;
	display: block;
	height: auto;
 	object-fit: contain;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
* {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

